<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345963871008-fgm44bpqnidkuejoh70q8bao8v6ph94g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345963871008-fgm44bpqnidkuejoh70q8bao8v6ph94g</string>
	<key>API_KEY</key>
	<string>AIzaSyDFmcXg9r2_a2h695nht84DPZ5x7EyEl1E</string>
	<key>GCM_SENDER_ID</key>
	<string>345963871008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valkdokk.notetaking</string>
	<key>PROJECT_ID</key>
	<string>note-taking-30c67</string>
	<key>STORAGE_BUCKET</key>
	<string>note-taking-30c67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345963871008:ios:816ec7a12d7c1462a7f545</string>
</dict>
</plist>